name: MERN CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Backend Dependencies
        working-directory: backend
        run: npm install

      - name: Install Frontend Dependencies
        working-directory: frontend
        run: npm install

      - name: Run Backend Tests (Optional)
        working-directory: backend
        run: npm test || echo "No backend tests"

      - name: Run Frontend Tests (Optional)
        working-directory: frontend
        run: npm test || echo "No frontend tests"

      - name: Lint Frontend
        working-directory: frontend
        run: npm run lint || echo "No lint script"

      - name: Lint Backend
        working-directory: backend
        run: npm run lint || echo "No lint script"
