name: MERN CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install PNPM globally
      - name: Install PNPM
        run: npm install -g pnpm

      # Install Backend Dependencies
      - name: Install Backend Dependencies
        working-directory: backend
        run: pnpm install --frozen-lockfile

      # Install Frontend Dependencies
      - name: Install Frontend Dependencies
        working-directory: myapp
        run: pnpm install --frozen-lockfile

      # Run Backend Tests (Optional)
      - name: Run Backend Tests
        working-directory: backend
        run: pnpm test

      # Run Frontend Tests (Optional)
      - name: Run Frontend Tests
        working-directory: myapp
        run: pnpm test

      # Lint Frontend
      - name: Lint Frontend
        working-directory: myapp
        run: pnpm lint

      # Lint Backend
      - name: Lint Backend
        working-directory: backend
        run: pnpm lint

      # Run Backend to catch runtime errors
      - name: Run Backend
        working-directory: backend
        run: node index.js
